# JWT secret key for access token
JWT_ACCESS_SECRET=

# Duration of JWT access token signature
JWT_ACCESS_SECRET_DURATION=1h

# JWT secret key for account verification
JWT_ACCOUNT_VERIFY_SECRET=

# Duration of JWT verify token signature
JWT_ACCOUNT_VERIFY_SECRET_DURATION=1h

# JWT secret key for password reset
JWT_RESET_PASSWORD_SECRET=

# Duration of JWT password token signature
JWT_RESET_PASSWORD_SECRET_DURATION=1h

# Frontend application URL
FRONTEND_URL=http://localhost

# Backend application URL
BACKEND_URL=http://localhost

# Backend application PORT
BACKEND_PORT=3000

# development/production
NODE_ENV=production

# Database connection configuration
DB_HOSTNAME=mysql
DB_PORT=3306
DB_NAME=software_for_bee_swarm_analysis
DB_USERNAME=
DB_PASSWORD=
MYSQL_ROOT_PASSWORD=

# Email service configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# User agent required for Nominatim request
USER_AGENT='software-for-bee-swarm-analysis/1.0 (<email>)'