@if (isTokenValid) {
  <form class="centered-container bg-gradient-to-b from-yellow-50 to-white dark:from-gray-900 dark:to-gray-800" [formGroup]="setNewPasswordForm" (ngSubmit)="submitForm()">
    <p-card class="w-4/5 md:w-3/5 lg:w-2/4 xl:w-2/5 p-4 mt-10">
      <div class="flex justify-center">
        <p-image src="assets/logo.svg" width="60px"></p-image>
      </div>

      <p class="text-center text-xl md:text-2xl lg:text-3xl mt-4">{{ 'auth.set-new-password.title' | transloco }}</p>

      <p-floatlabel class="mt-8">
        <p-password
          id="password"
          inputStyleClass="w-full"
          class="w-full"
          size="small"
          autocomplete="new-password"
          [maxlength]="60"
          (keydown.space)="_formHelper.preventSpace($event)"
          (paste)="_formHelper.preventSpaceOnPaste($event, 'password', setNewPasswordForm)"
          [invalid]="_formHelper.isControlInvalid('password', setNewPasswordForm, isSubmitting)"
          [toggleMask]="true"
          formControlName="password"
          [feedback]="true"
          promptLabel="________"
          weakLabel="{{ 'auth.register.password.weak' | transloco }}"
          mediumLabel="{{ 'auth.register.password.medium' | transloco }}"
          strongLabel="{{ 'auth.register.password.strong' | transloco }}">
          <ng-template pTemplate="header">
            <div class="font-semibold text-sm mb-4">
              {{ 'auth.register.password.requirements' | transloco }}
            </div>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider />
            <ul class="pl-2 my-2 leading-normal text-sm">
              <li [class.text-green-500]="hasMinLength" [class.text-gray-500]="!hasMinLength">
                <i [class]="hasMinLength ? 'pi pi-check' : 'pi pi-times'" class="text-xs mr-1"></i>
                {{ 'auth.register.password.min_length' | transloco }}
              </li>
              <li [class.text-green-500]="hasUpperCase" [class.text-gray-500]="!hasUpperCase">
                <i [class]="hasUpperCase ? 'pi pi-check' : 'pi pi-times'" class="text-xs mr-1"></i>
                {{ 'auth.register.password.uppercase' | transloco }}
              </li>
              <li [class.text-green-500]="hasLowerCase" [class.text-gray-500]="!hasLowerCase">
                <i [class]="hasLowerCase ? 'pi pi-check' : 'pi pi-times'" class="text-xs mr-1"></i>
                {{ 'auth.register.password.lowercase' | transloco }}
              </li>
              <li [class.text-green-500]="hasNumeric" [class.text-gray-500]="!hasNumeric">
                <i [class]="hasNumeric ? 'pi pi-check' : 'pi pi-times'" class="text-xs mr-1"></i>
                {{ 'auth.register.password.numeric' | transloco }}
              </li>
              <li [class.text-green-500]="hasSpecialChar" [class.text-gray-500]="!hasSpecialChar">
                <i [class]="hasSpecialChar ? 'pi pi-check' : 'pi pi-times'" class="text-xs mr-1"></i>
                {{ 'auth.register.password.special_char' | transloco }}
              </li>
            </ul>
          </ng-template>
        </p-password>
        <label for="password">{{ 'auth.register.password.placeholder' | transloco }}</label>
      </p-floatlabel>

      <p-floatlabel class="mt-8">
        <p-password
          id="confirmPassword"
          inputStyleClass="w-full"
          class="w-full"
          size="small"
          autocomplete="new-password"
          (keydown.space)="_formHelper.preventSpace($event)"
          (paste)="_formHelper.preventSpaceOnPaste($event, 'confirmPassword', setNewPasswordForm)"
          [invalid]="_formHelper.isControlInvalid('confirmPassword', setNewPasswordForm, isSubmitting)"
          [toggleMask]="true"
          formControlName="confirmPassword"
          [feedback]="false">
        </p-password>
        <label for="confirmPassword">{{ 'auth.register.confirm_password.placeholder' | transloco }}</label>
      </p-floatlabel>

      @if (_formHelper.isControlInvalid('confirmPassword', setNewPasswordForm, isSubmitting)) {
        @if (setNewPasswordForm.get('confirmPassword')?.errors?.['required']) {
          <p-message severity="error" size="small" variant="simple" styleClass="mt-2">
            {{ 'auth.register.confirm_password.required' | transloco }}
          </p-message>
        }
        @if (setNewPasswordForm.get('confirmPassword')?.errors?.['passwordMismatch']) {
          <p-message severity="error" size="small" variant="simple" styleClass="mt-2">
            {{ 'auth.register.confirm_password.mismatch' | transloco }}
          </p-message>
        }
      }

      <p-button
        [disabled]="setNewPasswordForm.invalid"
        [loading]="isSubmitting"
        type="submit"
        styleClass="mt-4 w-full"
        label="{{ 'auth.set-new-password.button.label' | transloco }}"
        icon="pi pi-send"
      ></p-button>
    </p-card>
  </form>
} @else if (!isCheckingToken) {
  <div class="bg-gradient-to-b from-yellow-50 to-white dark:from-gray-900 dark:to-gray-800 centered-container min-h-screen flex items-center justify-center py-8 px-4">
    <p-card class="w-full max-w-md">
      <ng-template pTemplate="title">
        <div class="text-center mb-4">
            <div class="inline-flex items-center justify-center w-16 h-16 rounded-full bg-red-300 mb-4">
              <i class="pi pi-times text-red-800 text-3xl"></i>
            </div>
          <h1 class="text-3xl sm:text-4xl font-bold">{{ 'auth.set-new-password.token.invalid.title' | transloco }}</h1>
        </div>
      </ng-template>

      <ng-template pTemplate="subtitle">
        <p class="text-center sm:text-lg mb-6">
          {{ 'auth.set-new-password.token.invalid.message' | transloco}}
        </p>
      </ng-template>

        <div class="border-t pt-4">
          <div class="text-center">
            <p-button
              label="{{ 'auth.set-new-password.token.invalid.button.homepage' | transloco }}"
              routerLink="/"
              styleClass="w-full"
              severity="secondary">
            </p-button>
          </div>
        </div>
    </p-card>
  </div>
}
