<form class="centered-container bg-gradient-to-b from-yellow-50 to-white dark:from-gray-900 dark:to-gray-800" [formGroup]="forgottenPasswordForm" (ngSubmit)="submitForm()">
  <p-card class="w-4/5 md:w-3/5 lg:w-2/4 xl:w-2/5 p-4 mt-10">
    <div class="flex justify-center">
      <p-image src="assets/logo.svg" width="60px"></p-image>
    </div>

    <p class="text-center text-xl md:text-2xl lg:text-3xl mt-4">{{ 'auth.forgotten-password.title' | transloco }}</p>

    <p-floatlabel class="mt-10">
      <input id="email" class="mx-auto w-full" pSize="small" pInputText formControlName="email"
             [invalid]="_formHelper.isControlInvalid('email', forgottenPasswordForm, isSubmitting)" maxlength="50"/>
      <label for="email">{{ 'auth.forgotten-password.email.placeholder' | transloco }}</label>
    </p-floatlabel>

    @if (_formHelper.isControlInvalid('email', forgottenPasswordForm, isSubmitting)) {
      @if (forgottenPasswordForm.get('email')?.errors?.['required']) {
        <p-message severity="error" size="small" variant="simple">{{ 'auth.forgotten-password.email.required' | transloco }}</p-message>
      }
      @if (forgottenPasswordForm.get('email')?.errors?.['email']) {
        <p-message severity="error" size="small" variant="simple">{{ 'auth.forgotten-password.email.format' | transloco }}</p-message>
      }
    }

    <p-button
      [disabled]="forgottenPasswordForm.invalid"
      [loading]="isSubmitting"
      type="submit"
      styleClass="mt-4 w-full"
      label="{{ 'auth.forgotten-password.button.label' | transloco }}"
      icon="pi pi-send"
    ></p-button>
  </p-card>
</form>
